@toolbar-height: 50px;

body {
  background: #f2f2f2;
  color: #333;
  font-size: 13px;
  line-height: 1.2;
}

.container {
  width: auto;
  max-width: 1200px;
  margin-top: @toolbar-height + 30px;;
  padding: 0 15px;

  @media (min-width: 768px) {
    padding: 0 30px;
  }
}

.loading {
  text-align: center;
  font-size: 18px;
  padding: 30px 0;
}

// toolbar

.toolbar {
  height: @toolbar-height;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
  text-align: center;
  background: #fff;
  border-bottom: solid 1px rgba(0,0,0,.15);

  .site-name {
    padding-top: 14px;
    font-size: 16px;
  }

  .refresh-all {
    position: absolute;
    top: 14px;
    right: 15px;
    border: none;
    padding: none;
    margin: none;
    background: none;
    font-size: 14px;
    color: #337ab7;
  }
}

// routes

.route {

  .card {
    background: white;
    border: solid 1px rgba(0,0,0,.15);
    padding: 15px;
    box-shadow: 0px 1px 0px rgba(0,0,0,.15);
    border-radius: 3px;
    margin-bottom: 15px;
  }

  .name {
    margin-bottom: 15px;
    border-bottom: solid 1px rgba(0,0,0,.15);
    padding: 0 15px 15px 15px;
    font-size: 14px;
    font-weight: bold;
    margin: 0 -15px 15px -15px;
  }

  .fetch-button {
    border: none;
    margin: 0;
    padding: 0;
    background: none;
    display: block;
    width: 100%;
  }

  // stats

  .stats {
    text-transform: uppercase;
  }

  .duration {
    font-size: 40px;
  }

  .detail, .unit {
    font-size: 16px;
    color: #999;
  }

  .nobreak {
    white-space: nowrap;
  }

  // warnings

  ul.warnings {
    list-style: none;
    margin: 0;
    padding: 20px 0 0 0;
    color: #fc8d0d;

    li {
      margin: 0;
      padding: 0 0 10px 0
    }
  }

  // chart

  canvas {
    width: 100% !important; // force Chart.js to be responsive
    height: auto !important;
    cursor: pointer;
  }

  img {
    width: 100%;
    height: auto ;
  }
}

// credit row

.credit {
  text-align: right;
  font-size: 10px;
  text-transform: uppercase;
  border-top: solid 1px rgba(0,0,0,.15);
  margin: 15px 0 0 0;
  padding-top: 15px;
  padding-bottom: 30px;

  a {
    color: #999;
  }
  a:hover {
    color: #000;
    text-decoration: none;
  }
}

// wrap every 2 items

@media (min-width: 768px) and (max-width: 991px) {
  .route {
    float: left;
  }
  .route:nth-child(2n+1) {
    clear: left;
  }
}

// wrap every 3 items

@media (min-width: 992px) {
  .route {
    float: left;
  }
  .route:nth-child(3n+1) {
    clear: left;
  }
}

// animation

.rotate {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 2000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 2000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 2000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;

  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@-ms-keyframes spin {
  from { -ms-transform: rotate(0deg); }
  to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  from { transform:rotate(0deg); }
  to { transform:rotate(360deg); }
}
